

.take_tests_content_container {
    padding: 0vh 20vh 0vh 20vh;
    margin: 2vh 0vh 15vh 5vh;
    font-family: "Shopen";
}
.flex_container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5vh;
}
.image_container{
    
}
.img_question_container{
    border: 3px black;
    border-radius: 30px;
    height: 50vh;
    width: 50vh;
}





