{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{% static "img/Gekkon_Icon.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/Gekkon_Icon.png" %}">
    {% block title %}
    
         <title>Заголовок не опрделен </title>
    
    {% endblock title %}
   
    {% block css%}
        <p> стили не подключены </p>
    {% endblock %}
</head>
<body>
    {% block content %}
    
    {% endblock content %}

</body>
</html>