{% extends "base.html" %}
{% load static %}





    {% block css %}
         <link rel="stylesheet" href="{% static "/main/index.css" %}">
    {% endblock css %}

</head>

<body>
    {% block content %}
        <div class="container_content">
             
        <div class="flex">   
           
                <div class="card">
                    <div class="logo_container">
                        <img src="{% static "img/Gekkon-Logo.png" %}" alt="логотип">
                    </div>
                    <h2 class="enter_label">
                        Вход
                    </h2>
                    <div class="container_form">
                        <form action="#" method="POST">
                            <div class="login_">
                                <input type="text" placeholder="Логин" class="login_inp">
                            </div>
                            <div class="psswd_">
                                <input type="password" placeholder="Пароль" class="psswd_inp">
                            </div>
                            <div class="button_">
                               <input type="button" value="Войти" class="button_inp">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    {% endblock content %}
    
</body>
</html>