{% load static %}



<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/main/index.css" %}">
    <title>{{ title }}</title>
</head>

<body>
    <div class="container_content">
        <div class="flex">
            <div class="conteiner_image">
                Контейнер для картинки логотипа
            </div>
                <div class="card">
                    <h2 class="enter_label">
                        Вход
                    </h2>
                    <div class="container_form">
                        <form method="POST">
                            <div class="login_">
                                <input type="text" placeholder="Логин" class="login_inp">
                            </div>
                            <div class="psswd_">
                                <input type="password" placeholder="Пароль" class="psswd_inp">
                            </div>
                            <div class="button_">
                               <input type="button" value="Войти" class="button_inp">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>