{% extends "base.html" %}
{% load static %}



<
    {% block title %}
    
        <title> {{ title }}</title>
    
    {% endblock title %}
    {% block css %}
        <link rel="stylesheet" href="{% static "/main/index.css" %}">
    {% endblock css %}

<body>
    {% block content %}
        <div class="container_content">
            <div class="container_banner">
        
               {{ auth }}

            </div>






        </div>
    
    
    
    {% endblock content %}



   
</body>
</html>