{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>{{ title }} </title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static "/main/registration.css" %}">
{% endblock css %}

{% block content %}
    <div class="registration_content_container">
        <h2> Страница регистрации студента </h2>
        <div class="registration_container_forms">
            <form action="{% url "main:registration" %}" method="POST">

                {% csrf_token %}

                <div class="registration_container_grid">

                    <div class="grid_field">
                        <input type="text" class="inp_field" placeholder="Имя пользователя" 
                        name="username">
                    </div>
                    <div class="grid_field">
                        <input type="text" class="inp_field" placeholder="Предприятие" 
                        name="enterprise">
                    </div>

                    <div class="grid_field">
                        <input type="text" class="inp_field" placeholder="Имя" 
                        name="first_name">
                    </div>
                
                    <div class="grid_field">
                        <input type="text" class="inp_field" placeholder="Участок" 
                        name="plot">
                    </div>

                    <div class="grid_field">
                        <input type="text" class="inp_field" placeholder="Фамилия" 
                        name="last_name">
                    </div>

                    <div class="grid_field">
                        <input type="text" class="inp_field" placeholder="Должность" 
                        name="function">
                    </div>

                    <div class="grid_field">
                        <input type="text" class="inp_field" placeholder="Отчество" 
                        name="surname">
                    </div>

                    <div class="grid_field">
                        <input type="text" class="inp_field" placeholder="Email" 
                        name="email">
                    </div>
                    {% comment %} <label for="password1">Пароль</label> {% endcomment %}
                    <div class="grid_field">
                        <input type="password"
                         class="inp_field" placeholder="Пароль1" 
                        name="password1" id="password1">
                    </div>

                    <div class="grid_field">
                        <label for="password2"> </label>
                        <input type="password"
                         class="inp_field" placeholder="Пароль2" 
                        name="password2" id="password2">
                    </div>
                    <div class="grid_field">
                        {% comment %} <input type=""
                         class="inp_field" placeholder="" 
                        name="" id=""> {% endcomment %}
                    
                    </div>
                     <div class="grid_field">
                       <button class="button_inp"type="submit" >Сохранить</button>
                    </div>
                </div>
             </form>
        </div>
    </div>

    
    

{% endblock content %}